{
  "presets": [["@babel/preset-env", { "modules": false }]],
  "plugins": [
    "@babel/plugin-external-helpers",
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-regenerator",
    [
      "@babel/plugin-transform-runtime",
      {
        "helpers": false,
        "regenerator": false,
        "useESModules": false
      }
    ]
  ]
}
