{
  "presets": [["env", { "modules": false }]],
  "plugins": [
    "external-helpers",
    "transform-class-properties",
    "transform-regenerator",
    [
      "transform-runtime",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": false,
        "moduleName": "rollup-regenerator-runtime"
      }
    ]
  ]
}
